services:
  db:
    build:
      context: ./database
      dockerfile: Dockerfile
    image: mangao_postgres_db
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/postgresql  
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: express_backend
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy


volumes:
  db_data: