@font-face{
  font-family: BBH;
  src: url('./assets/fonts/BBHHegarty-Regular.ttf')
}

@font-face {
  font-family: nunito;
  src: url('./assets/fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: nunito-bold;
  src: url('./assets/fonts/Nunito-Bold.ttf');
}

@import "tailwindcss";

@theme{
  --font-bbh: BBH, "sans-serif";
  --font-nunito: nunito, "sans-serif";
  --font-nunito-bold: nunito-bold, "sans-serif";
}

:root {
  background-color: black;
}
